:root {
    --colorheader: #85D4B7;
    --colornavbar: #85D4B7;
    --colorfondo: #6DCCAA; 
    --colorfooter: #E6E6E6;
    --colorquienes: #ffffff;
    --colorblanco: #ffffff;
}

body {
    display: block;
    text-align: center;
}


.circulo3 {
    width: 20px;
    height: 20px;
    position: relative;
    background: white;
    display: inline-block;
    padding: 15px 15px 15px 15px;
    border-radius: 25px;
    color: #69BFA0;
    text-align: center;

}

/* galeria de imagenes */

.grid-container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px;
}

.grid-item {
    border: 1px solid black;
    text-align: center;
    color: floralwhite;
}

.grid-item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image: url(./Oso_tn.jpg);
} 

.grid-item:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    background-image: url(./Maya_tn.jpg);
} 

.grid-item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 5 / 7;
    background-image: url(./Wifi_tn.jpg);
}

.grid-item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    background-image: url(./Chocolate_tn.jpg);
}

.grid-item:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 4 / 7;
    background-image: url(./Pexel_tn.jpg);
}

.grid-item:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    background-image: url(./Bigotes_tn.jpg);
}

.grid-item:nth-child(7) {
    grid-column: 3 / 4;
    grid-row: 4 / 7;
    background-image: url(./Luna_tn.jpg);
}



@media (min-width: 401px) {
    .grid-item:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    } 
    
    .grid-item:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    } 
    
    .grid-item:nth-child(3) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }
    
    .grid-item:nth-child(4) {
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    }
    
    .grid-item:nth-child(5) {
        grid-column: 5 / 6;
        grid-row: 1 / 3;
    }
    
    .grid-item:nth-child(6) {
        grid-column: 6 / 7;
        grid-row: 1 / 3;
    }
    
    .grid-item:nth-child(7) {
        grid-column: 7 / 8;
        grid-row: 1 / 3;
    }
    

}